.app {
  text-align: center;
  display: flex;
  height: 100vh;
}

.left-sidebar {
  width: 20%;
  border: 1px solid red;
}

.right-sidebar {
  width: 30%;
  border: 1px solid red;
}

.main-content {
  width: 50%;
  border: 1px solid red;
}